.center {
    margin: auto;
    width: 90%;
    padding: 10px;
  }

.form-field {
    position: relative;
}

.spacer{
  height:15vh;
}

.navbar-icon{
  width: 6vw;
  padding-top: 2vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.notlike-icon{
  padding-left: 15px;
  padding-top: 2vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

@media (max-width: 640px) {
  .content-box{
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;
    align-items: center;
    grid-area: content;
    justify-content: center;
    flex-direction: column;
  }
}

.content-box{
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  align-items: center;
  grid-area: content;
  justify-content: center;
}

.divider{
  border-bottom:1px solid #999;
  margin-left:-20px;
}
